// Variables
$text-light-dark: rgb(95, 99, 104);
$text-dark: rgba(0, 0, 0, 0.87);
$bg-white: rgb(255, 255, 255);


@mixin header-links {
    a{
        &.nav-link{
            color: $text-light-dark;
            font-size: 0.8125rem;
            text-decoration: none; 
            margin: 0 5px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: $text-light-dark;
    background: $bg-white;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

header{
    nav{
        display: flex;
        justify-content: space-between;
    }
}


#header-left{
    margin: 10px;
    @include header-links;
    display: flex;
    align-items: center;
}
#header-right{
    margin: 10px;
    @include header-links;
    display: flex;
    align-items: center;
    a.nav-image{
        margin: 0 5px;
        img{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    a.nav-icon{
        margin: 0 15px;
        i{
            color: $text-light-dark;
            font-size: 1.3rem;
            &:hover{
                color: $text-dark;
            }
        }
    }
}

// main searchbar
main{
    flex-grow:  1;
    #main{
        max-width: 30%;
        margin: 145px auto;
    }
}

#main{
    img{
        display: block;
        margin: 0 auto 25px auto;
    }
    form{
        #search-box-group{
            position: relative;
            text-align: center;
            #search-box{
                border: 1px solid rgba(0,0,0,0.1);
                border-radius: 20px;
                width: 95%;
                height: 40px;
                font-size: 1rem;
                padding: 0 40px 0 20px;
                vertical-align: middle;
                &:focus{
                    outline: none;
                    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                }
                &:hover{
                    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                }
            }
            i{
                position: absolute;
                right: 25px;
                top: 1px;
                font-size: 1rem;
                cursor: pointer;
                padding: 10px;
                &:hover{
                    color: #000;
                }
            }
        }
        #search-btn-group{
            display: flex;
            width: 100%;
            margin-top: 30px;
            justify-content: center;
            .btn{
                display: block;
                box-sizing: border-box;
                background-color: #f2f2f2;
                border: 1px solid transparent;
                color: #5F6368;
                border: 0;
                padding: 0 16px;
                margin: 11px 4px;
                font-size: 14px;
                min-width: 54px;
                height: 36px;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                    color: #444;
                    background: #f8f8f8;  
                    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
                    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                }
            }
        }
    }
}


// footer
footer{
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;

    #footer-left{
        display: flex;
        justify-content: space-evenly;
        a{
            color: #5f6368;
            text-decoration: none;
            font-size: 10pt;
            padding-left: 27px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    #footer-right{
        display: flex;
        justify-content: space-evenly;
        a{
            color: #5f6368;
            text-decoration: none;
            font-size: 10pt;
            padding-left: 27px;
            &:hover{
                text-decoration: underline;
            }
            &:last-child{
                padding-right: 27px;
            }
        }
    }

}